#home {
    background-color: #FFA07A;
    height: 100vh;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Source Code Pro', 'menlo', monospace;
    text-transform: lowercase;
    font-size: 36px;
}

.name {
    margin-top: 300px;
}

ul {
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    padding: 5px;
}

i {
    color: white;
}

.links {
    font-size: 30px;
}

.sites {
    font-size: 20px;
    padding-top: 20px;
}

.row {
    /*text-align: center;*/
}
