<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leslie Rice</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
  <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="home" class="container-fluid">
        <div class="row">
            <div class="name col-xs-12">
                <h3>Leslie Rice</h3>
                <ul class="links">
                    <li><a href="https://github.com/leslierice"><i class="fa fa-github-square"></i></a></li>
                    <li><a href="https://s3-us-west-2.amazonaws.com/leslie-site/LeslieRiceResume.pdf"><i class="fa fa-file-text-o"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/leslie-rice-b2207780"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="mailto:leslierice@utexas.edu"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="http://www.lesliearice.com/"><i class="fa fa-camera"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
